<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Enable debug logging for Testcontainers -->
    <logger name="org.testcontainers" level="DEBUG"/>
    <logger name="com.github.dockerjava" level="DEBUG"/>
    <logger name="tc" level="DEBUG"/>

    <!-- Reduce noise from other libraries -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
